@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<hr />
<h3>Contact Information</h3>
<br />
<p>For any questions regarding the ward's Sacrament program, please contact Yura or Trevor.</p>
<br />
<p><b>Yura Vasiuk: </b>vas14001@byui.edu</p>
<p><b>Trevor Albrethsen: </b>alb12014@byui.edu</p>