@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="centertxt">Welcome to the 72nd Ward!</h1>
    <img src="~/images/mormon-1420678_640.jpg" alt="Washington DC Temple" width="640" height="544" class="center"/>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 class="centertxt">Weekly Schedule</h2>
        <p class="centertxt">Find out if you're praying this Sunday.</p>
        <img src="~/images/salt-lake-city-438726_1920.jpg" alt="Angel Moroni" width="256" height="170" class="center" />
    </div>
    <div class="col-md-4">
        <h2 class="centertxt">Who's Speaking?</h2>
        <p class="centertxt">Are you speaking this Sunday?</p>
        <img src="~/images/aaron-burden-169739-unsplash.jpg" alt="pondering" width="230" height="172" class="center" />
    </div>
    <div class="col-md-4">
        <h2 class="centertxt">Learn of Him</h2>
        <p class="centertxt">We learn about the Savior together.</p>
        <img src="~/images/flowers-1902808_640.jpg" alt="Family" width="256" height="192" class="center" />
    </div>
</div>